.container-fluid {
  padding: 0 6%;
}

section {
  padding: 5% 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
}

p {
  font-family: $body-font;
}

/*### Buttons ###*/
.button {
  display: flex;
  width: 210px;
  justify-content: center;
  align-items: center;
  padding: 19px 0px;
  font-weight: 700;
  border-radius: 12px;
  font-size: 17px;
  transition: all 0.5s;
}
.button-light {
  background: $white;
  color: $black;
  border: 1px solid $white;
  &:hover {
    color: $primary;
    background-color: transparent;
    border-color: $primary;
    transition: all 0.3s;
    i {
      &::before {
        margin-left: 15px;
        transition: all 0.3s;
      }
    }
  }
  i {
    transition: all 0.3s;
    &::before {
      margin-left: 5px;
    }
  }
}

.button-dark {
  background: $primary;
  color: $white;
  border: 1px solid $primary;
  box-shadow: 0px 0px 26px 3px #805b847d;
  &:hover {
    color: $primary;
    background-color: transparent;
    border-color: $primary;
    transition: all 0.3s;
    box-shadow: none;
    i {
      &::before {
        margin-left: 15px;
        transition: all 0.3s;
      }
    }
  }
  i {
    transition: all 0.3s;
    &::before {
      margin-left: 5px;
    }
  }
}

.bordered {
  background: transparent;
  color: $primary;
  border: 1px solid $primary;
  &:hover {
    color: $white;
    background-color: $primary;
    border-color: $primary;
    transition: all 0.3s;
    box-shadow: none;
    box-shadow: 0px 0px 26px 3px #805b847d;
    i {
      &::before {
        margin-left: 15px;
        transition: all 0.3s;
      }
    }
  }
  i {
    transition: all 0.3s;
    &::before {
      margin-left: 5px;
    }
  }
}

/*### Heading-2 ###*/
h2 {
  font-size: 50px;
  font-weight: 700;
  color: #313642;
  margin-bottom: 25px;
}

/*### Paragraph ###*/
p {
  font-size: 24px;
  margin-bottom: 45px;
  font-weight: 300;
  line-height: 1.6;
}

.subtitle {
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 2px;
  background: rgb(128 91 133 / 8%);
  padding: 10px 40px;
  border-radius: 10px;
  margin-bottom: 12px;
  width: max-content;
}

/*### Page-Header ###*/
.page-header {
  background: url("../img/Background-img.jpg");
  background-size: cover;
  background-position: right;
  color: #fff;
  .row {
    text-align: center;
    h1 {
      color: #fff;
      font-size: 60px;
      line-height: 1.1;
      font-weight: 700;
      margin-bottom: 18px;
    }
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 45px !important;
  }
  h2 {
    font-size: 36px !important;
  }
  p {
    font-size: 20px !important;
  }
}

img {
  @media (max-width: 767px) {
    width: 100%;
  }
}
