/*### Header-section ###*/
header {
  padding: 15px 0;
  /*### Navbar ###*/
  nav {
    /*### Logo ###*/
    .navbar-brand {
      img {
        width: 200px;
      }
    }

    /*### Menu ###*/
    .collapse.navbar-collapse {
      justify-content: end;
      ul {
        align-items: center;
        li {
          a {
            font-family: $body-font;
            margin-right: 40px;
            color: $black !important;
          }
        }
      }
    }
  }
}
