.bg-header {
  background-image: url("../img/Banner-section-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-section {
  .container-fluid {
    .row {
      .content {
        margin-top: 75px;
        h1 {
          color: #000000;
          font-size: 60px;
          line-height: 1.1;
          font-weight: 700;
          margin-bottom: 18px;
        }
        p {
          font-size: 24px;
          margin-bottom: 45px;
        }
      }
      .image {
        width: 630px;
        margin: 0 auto;
        img {
          border-radius: 600px 10px 10px 10px;
        }
      }
    }
  }
}

.modes-blurb {
  .container-fluid {
    .heading-content {
      text-align: center;
      margin-bottom: 55px;
      h2 {
      }
    }
    .row {
      width: 65%;
      margin: 0 auto;
      .columns {
        padding: 0 20px;
        .content {
          padding: 65px 16px;
          border-radius: 25px;
          box-shadow: 0px 30px 60px 0px rgb(0 0 0 / 10%);
          .img {
            width: 75px;
            margin: 0 auto;
            margin-bottom: 22px;
          }
          .body-content {
            color: $white;
            text-align: center;
            h3 {
              font-size: 30px;
              font-weight: 700;
            }
          }
        }
      }
      .column-1 {
        background: $secondry;
      }
      .column-2 {
        background: $primary;
      }
      .column-3 {
        background: #edf2f4;
        .body-content {
          color: $secondry !important;
        }
      }
    }
  }
}

.why-important {
  padding: 0;
  .section-3 {
    .row {
      .column-1 {
        background-color: #f6f6f6;
        padding: 145px 80px;
        .image {
        }
      }
      .column-2 {
        background-color: #fbe2fe;
        padding: 145px 80px;
        .content {
          .headline {
            color: $primary;
          }
        }
      }
    }
  }
}

.about {
  padding: 0;
  .section-4 {
    .row {
      .column-1 {
        background-color: $secondry;
        padding: 145px 80px;
        .content {
          .headline {
            color: $primary;
          }
          h2 {
            color: $white;
          }
          p {
            color: $white;
          }
        }
      }

      .column-2 {
        background-color: #f6f6f6;
        padding: 145px 165px;
        .image {
        }
      }
    }
  }
}
