/*### Colors ###*/
$primary: #805b85;
$secondry: #313642;
$gray: #1e1e1e;
$black: black;
$white: white;

/*--### Font Family ###--*/
$heading-font: "Ubuntu", sans-serif;
$body-font: "Poppins", sans-serif;
$other-font: "Quattrocento Sans", sans-serif;
